# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
*.venv/

# Flask logs
*.log

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db
